html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  padding: 50px;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #edede9;
  color: #772e25;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

article {
  border: 4px solid #d6ccc2;
  border-radius: 15px;
  background-color: #f5ebe0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  background-color: #772e25;
  color: #edede9;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: rgba(119, 46, 37, 0.9);
}

article button {
  margin-top: 20px;
}

article p,
article h4,
article h3 {
  margin-top: 10px;
}

#remove {
  margin-right: 10px;
}

.new-book-btn-section {
  display: flex;
  justify-content: center;
}

.new-book-btn {
  margin-top: 30px;
  padding: 30px;
  border-radius: 20px;
  background-color: #333d29;
  color: #f8edeb;
  text-transform: uppercase;
}

form * {
  display: block;
}

dialog {
  background-color: #edede9;
  color: #772e25;
  border-color: #333d29;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  width: 400px;
  font-weight: 600;
}

dialog p {
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

dialog button {
  width: 100px;
}

fieldset {
  padding: 10px;
  margin-bottom: 10px;
}

.fieldset-1 label {
  margin-right: 10px;
}

.fieldset-1 div {
  margin-bottom: 5px;
}

.fieldset-1 input {
  width: 200px;
  padding: 2px;
  color: #772e25;
}

input[name="title"]:invalid,
input[name="author"]:invalid,
input[name="pages"]:invalid {
  border-color: #900;
  background-color: #fdd;
}

input[name="title"]:focus:invalid,
input[name="author"]:focus:invalid,
input[name="pages"]:focus:invalid {
  outline: none;
}

.submit-btn {
  margin-bottom: 10px;
  background-color: #333d29;
}

.new-book-btn:hover,
.submit-btn:hover {
  background-color: rgba(51, 61, 41, 0.9);
}

a {
  color: inherit;
  text-underline-offset: 4px;
  font-weight: 600;
}

footer {
  text-align: center;
  margin-top: 50px;
}

/* error message styles */
.error {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 5px;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}
